:root {
    --vermelho: #e50914;
    --preta: #141414;
}

body {
    background: var(--preta);
    font-family: "Times New Roman", Times, serif;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

/* header */
header .container {
    display: flex;
    align-items: center;
    position: fixed;
    gap: 2em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 90%,rgba(0,0,0,0));
}

header .logo {
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

nav > a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    transition: 120ms ease-in-out;
}

nav > a:hover {
    color: #fff;
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 16px;
    transition: 200ms ease-in-out;
}

.user-info > * {
    transition: 200ms ease-in-out;
}

.user-info > *:hover {
    opacity: .7;
}

.user-info img {
    height: 30px;
    border-radius: 2px;
}
 /* filme principal */
 .filme-principal {
     position: relative;
     font-size: 25px;
     background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%), url('../images//the-avengers-wallpaper.jpg');
     min-height: 500px;
     background-size: cover;
     display: flex;
     gap: 1em;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding-top: .35em;
     padding-bottom: 1em;
 }

 .filme-principal .container {
     max-width: 70%;
 }

 .title-logo-wrapper {
    width: 400px;
    overflow: hidden;
    height: 200px;
}

.title-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.msg-suplementar {
    display: flex;
    gap: .5em;
}

.msg-suplementar > i {
    color: var(--vermelho);
}

.filme-principal .descricao {
    font-size: 16px;
    max-width: 400px;
    margin-top: .7em;
}  

.sound-rating-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1em;
    bottom: 5em;
    gap: .3em;
}

.icon-circle {
    border: 1.5px solid #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.icon-circle > i {
    font-size: 14px;
}

.icon-circle:hover {
    opacity: .7;
    cursor: pointer;
}

.column {
    width: 2px;
    height: 27px;
    background: #fff;
    opacity: .7;
}

.rating-img {
    height: 35px;
}

.btns-wrapper {
    display: flex;
    gap: .5em;
    margin-top: .8em;
}

.btn {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .4em;
    padding: .5em 1em;
    border-radius: 4px;
    transition: 120ms ease-in-out;
    font-size: 18px;
}

.btn p {
    font-size: 14px;
    line-height: 0;
}

.btn:hover {
    opacity: .7;
}

.secondary-btn {
    color: #fff;
    background: rgba(109, 109, 110, 0.7);

}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}
